@font-face {
    font-family: 'adobe-clean';
    src: url(Font/AdobeCleanUXSemiLight.otf);
}

body {
    margin: 0px;
    font-size: 19px;
    font-family: 'adobe-clean';
}

a {
    text-decoration: none;
    color: inherit;
}

.border {
    display: flex;
    flex-direction: column;
    margin: auto 0px auto 2%;
    width: 75px;
    text-align: center;
    padding-top: 13px;
}

.nav {
    display: flex;
    flex-direction: row;
    height: 15vh;
    width: 100%;
    box-shadow: 10px 1px 10px rgb(195, 191, 191)
}

.font {
    font-weight: normal;
}

.logo {
    margin-left: 10%;
    width: 20vw;
    height: 15vh;
}

h3 {
    margin: auto 0px auto 3%;
    font-size: 16px;
}

.width-82 {
    width: 82%;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 40%;
}


.border-bottom {
    border-bottom: 2px solid;
    border-radius: 2px;
    border-color: #C3A776;
    margin: 10px auto 0px auto;
    width: 25px;
}

.icone {
    margin: auto 0px auto 0px;
    color: black;
}

.margin-10px {
    margin-left: 10px;
}


.line {
    margin: auto 11px auto 10px;
    height: 0.01px;
    border: solid;
    color: rgb(117, 97, 100);
    width: 10%;
    border-width: 1px;
}

.container {
    margin: 3% 10%;
}

.bloc {
    display: flex;
    flex-direction: row;
}

.line-work {
    height: 0.01px;
    border: solid;
    color: rgb(117, 97, 100);
    border-width: 0.01px;
    width: 80%;
    margin: 4% 0px 0px 3%;
}


.form {
    margin: 0px 30%;
}

label {
    margin-bottom: 15px;
}

input {
    width: 300px;
    border: transparent;
    border-bottom: 1px solid;
    border-color: black;
    padding-bottom: 5px;
    color: grey;
}

.test {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 15px;
}

.test2 {
    display: flex;
    flex-direction: row;
}

.bottom {
    padding-bottom: inherit;
    padding-bottom: 70px;
}

.required {
    margin-left: 12px;
    font-weight: bold;
    font-size: 15px;
}


.btn {
    width: 160px;
    height: 40px;
    line-height: 42px;
    border: 1px solid;
    border-color: rgb(118, 83, 38);
    color: #C3A776;
    margin: 40px 0px 0px 55%;
    padding: 0;
    background-color: transparent;
    box-shadow: 2px 2px 1px rgb(118, 83, 38);
}

.btn:hover {
    color: #C3A776;
    background: rgb(112, 97, 78);
    box-shadow: none;
    font-weight: bold;
    box-shadow: 2px 2px 1px white;

}

.menu-burger {
    display: none;
}

.icon-mobile {
    display: none;
}


@media (max-width:812px) {




    .nav {
        flex-direction: row-reverse;
        position: ab;
        flex-grow: 1;
    }

    .icon-mobile {
        display: block;
        display: flex;
        flex-direction: column;
        margin: 10px 10px 0px 0px
    }

    .icone {
        color: #D2BE99;
    }

    .logo {
        margin: auto auto;
        width: 40%;
        height: 100%;
        padding-left: 10%;
    }

    .menu {
        display: none;
    }

    #openBtn {
        left: 10px;
        top: 40px;
        position: fixed;
        color: #D2BE99;
    }

    .menu-burger {
        display: block;
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: -250px;
        background-color: #e8e8e8;
        padding-top: 60px;
        transition: left 0.5s ease;
    }

    .menu-burger a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .menu-burger a:hover {
        color: #D2BE99;
    }

    .menu-burger ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        color: #D2BE99;
    }

    .menu-burger.active {
        left: 0;
    }

    .menu-burger .close {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }

    .burger-icon span {
        display: block;
        width: 35px;
        height: 5px;
        background-color: #D2BE99;
        margin: 6px 0;
    }

    .container {
        margin-left: 15px;
    }

    .form {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .test2 {
        flex-direction: column;
    }

    .test {
        flex-direction: column;
    }

    .btn {
        margin-left: 30%;
    }

    .line-work {
        margin-top: 60px;
    }

    @media (max-width:500px) {
        .logo {
            margin: auto auto;
            width: 50%;
            height: 90%;
            padding-left: 10%;
        }
    }

}